@media screen and (max-width: 700px) {
    div#searchEngine{
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        height: max-content !important;
        display: block;
    }
    #searchEngine {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        height: max-content !important;
        display: block;
    }
    #searchEngine.motor_tab_top.show_tabs .tabs{
        width: 100% !important;
        height: 70px !important;
        display: block !important;
        position: relative !important;
        left: 0px !important;
        margin: 10px 0px !important;
        border: none !important;
        box-shadow: none !important;
    }
    #searchEngine ul {
        width: 100% !important;
        height: 70px !important;
        display: block !important;
        position: relative !important;
        left: 0px !important;
        margin: 10px 0px !important;
    }
    #searchEngine ul li {
        background-color: #fff !important;
        padding: 0px !important;
        margin: 0px !important;
        height: 50px !important;
        float: left !important;
        display: list-item !important;
        position: fixed !important;
    }
}