@media screen and (max-width: 700px){
    #externo-items-wrapper{
        width: 100vw;
    }
    #externo-items-wrapper p{
        width: 100%;
        height: 207px;

        object-fit: cover;
        text-align: justify;
        padding: 10px;
        color: #fff;
    }
    #externo-items{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    .externo-item{
        flex: none;
        width: 70%;
        height: 300px;
        pointer-events: none;
        scroll-snap-align: start; /* when two values set first is block, second inline */
        background-color: #2400f6;
        margin-right: 10px;
    }  
    .externo-item div span {
        border: 1px solid #2400f6;
        background-color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #2400f6;
        font-weight: 600;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    } 
}