div#checkout-insuranceWizard {
    display: inline-table;
    margin-top: 10px;
    background-color: #f7f7f7 !important;
    width: 100%;
}
/*
div#checkout-insuranceWizard::Before {
    content: " ";
    background-color: #777;
    width: 98%;
    height: 1px;
    display: block;
    margin: 5px 10px 7px 10px;
}
*/
#checkout-insuranceWizard div label {
    width: 50%;
    text-align: center;
}
#checkout-insuranceWizard h1 {
    padding: 7px;
    text-align: center;
    font-weight: 600;
}
.insuranceSearchBar>div> .data input[type=text] {
    width: 150px;
}
.insurance_block {
    background-color: aliceblue !important;
    margin: 5px 0px !important;
    padding: 5px 0px !important;
}

.insurance_block label {
    margin: 0px;
    width: 100% !important;
}

.insurance_block p {
    text-align: justify;
    padding: 0px 10px;
}

.insurance_block input {
    margin: 5px !important;
    float: left;
}

.insurance_block h3 {
    background-color: aliceblue;
    padding-bottom: 2px;
    text-align: left;
}

.insurance_block p.price {
    font-weight: 900;
    color: #fe7000;
    padding: 5px 0px 5px 10px;
}

.insurance_block p.price::before {
    content: "Preço: ";
}

p.showBenefits {
    cursor: pointer;
    font-weight: 900;
    margin-left: 5px;
}

.warningNoInsuranceOptionChosen p{
    text-align: justify;
    color: red;
}
.insuranceSearchBar small{
    text-align: justify;
    color: red;
    padding: 10px;
}
.warningNoInsuranceOptionChosen {
    padding: 10px;
}