header.main {
    background-color: #f7f7f7 !important;
}

header.main .wrap {
    width: 100% !important;
    height: inherit !important;
}

header.main .logo {
    width: 20% !important;
    display: inline-table !important;
    height: inherit !important;
    vertical-align: middle !important;
}

.logo a {
    vertical-align: middle !important;
    height: inherit !important;
    display: table-cell !important;
}

header.main .logo a img {
    max-width: 110px !important;
    margin-left: 30px !important;
}

.wrap>.mobile_header.menuLeft {
    width: 80% !important;
    display: inline-table !important;
    height: inherit !important;
    vertical-align: middle !important;
}

header.main ul.aside {
    padding: 0px !important;
    width: 100% !important;
    display: inline-table !important;
    height: inherit !important;
    vertical-align: middle !important;
}

article>.vc_row>.vc_col-sm-12 {
    display: block !important;
}

.user_info_container {
    margin-top: 0px !important;
    height: inherit !important;
    display: inline-table !important;
    vertical-align: middle !important;
    margin-right: 33px !important;
}

.userinfo_login {
    background-color: transparent;
    border-radius: 0px !important;
    height: inherit;
    margin-right: 15px;
}

.user_info_container .userinfo_logged_out {
    margin-top: 24px !important;
}

div#userinfo_login .userinfo_login_container {
    margin-top: 2px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 4px 4px 3px 0px rgb(50 50 50 / 75%);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 5px 3px 3px -1px rgb(50 50 50 / 75%);
}

#menu-rdc li a {
    font-size: 11px !important;
}

div#searchEngine {
    margin-top: -47px;
}

.NewMotors {
    max-width: 100% !important;
    background: #2400f6 !important;
}

.search_engine_v2 .tabs li {
    margin: 0px 1px;
}

.search_engine_v2.custom_engine .tabs li a {
    padding: 15px 17px !important;
    font-size: 12px !important;
    font-weight: 900 !important;
}

ul.tabs li {
    background-color: rgba(255, 255, 255, 0.6);
    color: #595959;
}

.search_engine_v2>.content {
    padding: 20px;
}

.comments{
    width: 0px !important;
    margin: 0px !important;
}





.insurance_block {
    background-color: aliceblue !important;
    margin: 5px 0px !important;
}
.insurance_block label {
    margin: 0px;
}
.insurance_block p {
    text-align: justify;
    padding: 0px 10px;
}
.insurance_block input{
    margin: 5px !important;
    float: left;
}
.insurance_block h3{
    background-color: aliceblue;
    padding-bottom: 2px;
}
.insurance_block p.price {
    font-weight: 900;
    color: #fe7000;
    padding: 5px 0px 5px 10px;
}
.insurance_block p.price::before {
    content: "Preço: ";
}
p.showBenefits {
    cursor: pointer;
    font-weight: 900;
    margin-left: 5px;
}
