*{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background: #062a5e;
}
ul li{
    width: 100%;
    text-align: center;
    position: relative;
}
ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: block;
}
ul li a:hover{
    color: dodgerblue;
}
.dropdown{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 0.3s;
    left: 0;
    top: -600%;
    z-index: -1;
}
ul li:hover .dropdown{
    visibility: visible;
    top: 100%;
}
.menu-header{
    display: none;
}
@media(max-width: 767px){
    ul{
        display: table;
        width: 100%;
    }
    ul li{
        text-align: left;
    }
    .dropdown{
        position: relative;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
    }
    .display{
        display: block;
    }
    .menu-content{
        display: none;
    }
    .menu-header{
        display: block;
        background: #272727;
        text-align: right;
        padding: 10px;
    }
    .fa-bars{
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 10px;
        border-radius: 4px;
    }
}
