*{
    margin: 0;
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    position: fixed;
    font-family: 'Roboto' !important;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
ul li{
    width: 100%;
    text-align: center;
    position: relative;
}
ul li a{
    color: #777777;
    text-decoration: none;
    padding: 10px;
    display: block;
}
ul li a:hover{
    color: #2400f6;
}
.dropdown{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 0.3s;
    left: 0;
    z-index: -1;
    background-color: #2400f6;
}

.dropdown li a{
    color: #ffffff !important;
}
.dropdown li a:hover{
    color: #2400f6 !important;
    background-color: #ffffff !important;
}
.dropdown2 li a:hover{
    color: #2400f6 !important;
    background-color: #ffffff !important;
}

ul li:hover .dropdown{
    visibility: visible;
    top: 100%;
    background-color: #2400f6;
}

.dropdown2{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0px;
    flex-wrap: wrap;
    transition: 0.3s;
    visibility: hidden;
}

.dropdown li:hover .dropdown2{
    left: 101%;
    visibility: visible;
    background-color: #2400f6;
    color: #ffffff !important;
}
.menu-header{
    display: none;
    color: #2400f6 !important;
}
i{
    width: 100%;
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
}
@media(max-width: 700px){
    ul{
        display: table;
        width: 100%;
    }
    ul li{
        text-align: left;
    }
    .dropdown , .dropdown2{
        position: relative;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
    }
    .display{
        display: block;
    }
    .dropdown li:hover .dropdown2{
        left: 0px ;
    }
    .menu-content{
        display: none !important;
    }
    .menu-header{
        display: inline-block;
        background: transparent;
        padding: 10px 20px;
        float: right;
        font-size: 35px;
    }
    .apresenta-menu{
        display: block !important;
        transition: 0.4s;
    }
    i{
        display: flex;
        padding-right: 10px;
        vertical-align: bottom;
        width: 25px !important;
        float: left;
    }
}
