header.have_sidebar.main.menu_03 {
    display: inline-flex;
    width: 100% !important;
    height: min-content !important;
}

header.main h1.logo a {
    height: 100% !important;
    display: table-cell;
    vertical-align: middle !important;
}
@media screen and (max-width: 700px){

}