header.have_sidebar.main.menu_03 {
    display: inline-flex;
    width: 100% !important;
    height: min-content !important;
}
header.main .wrap {
    width: 1140px !important;
    height: 100% !important;
    display: inline-table !important;
    vertical-align: middle !important;
}
header.main h1.logo {
    margin: 0px !important;
    padding: 0px !important;
    height: 87px !important;
    display: inline-table !important;
    vertical-align: middle !important;
    float: left !important;
}
header.main h1.logo a {
    height: 100% !important;
    display: table-cell;
    vertical-align: middle !important;
}
header.main .wrap>.mobile_header.menuLeft {
    float: left !important;
    width: 85% !important;
    display: block !important;
    height: 87px !important;
}
header.main ul.aside{
    display: block !important;
    height: 100% !important;
    padding: 0px !important;
}
div#user_info_container {
    margin: 0px;
    padding: 0px;
    height: 87px;
    vertical-align: middle !important;
    display: table-cell !important;
}
div#userinfo_logged_out {
    margin-top: 26px !important;
}
div#userinfo_login {
    margin: 10px 0px;
    border-radius: 0px !important;
}
@media screen and (max-width: 700px){
    header.have_sidebar.main.menu_03 {
        height: 60px !important;
        width: 100% !important;
        background-color: #2400F6;
        display: table;
    }
    .logo a img.mobile {
        width: 100px;
        margin: 0px;
    }
    .touch.menu_open:before {
        background: #fff !important;
    }
}