header.have_sidebar.main.menu_03 {
    display: inline-flex;
    width: 100% !important;
    height: min-content !important;
}
header.main .wrap {
    width: 1140px !important;
    height: 100% !important;
    display: inline-table !important;
    vertical-align: middle !important;
}
header.main h1.logo {
    margin: 0px !important;
    padding: 0px !important;
    height: 100% !important;
    display: inline-table !important;
    vertical-align: middle !important;
    float: left !important;
}
header.main h1.logo a {
    height: 100% !important;
    display: table-cell;
    vertical-align: middle !important;
}
header.main .wrap>.mobile_header.menuLeft {
    float: left !important;
    width: 85% !important;
    display: block !important;
    height: 100% !important;
}
header.main ul.aside{
    display: block !important;
    height: 100% !important;
}
div#user_info_container {
    margin: 0px;
    padding: 0px;
}
div#userinfo_logged_out {
    margin: 19px 0px;
}
@media screen and (max-width: 700px){

}